extends ./includes/layout

block main-content
  .login(ng-controller="LoginCtrl")
    .container
      .row
        .col-sm-4.col-sm-offset-4(style='margin-top:5em')
          h3(style='margin-left:6em') Login
          .row
            .col-sm-offset-1
              #flash-message(class="alert alert-{{messageType}}", role="alert") {{ message }}
              form
                .form-group
                  label(for='username') Username:
                  input#username.form-control(type='username', placeholder='Enter your username', required=true, ng-model="username")
                .form-group
                  label(for='pwd') Password:
                  input#pwd.form-control(type='password', placeholder='Enter your password', required=true, ng-model="password")
                button.btn.btn-primary(type='submit',ng-click="login(username, password)") Log In
