html
  head
    title Bucketlist
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    include scripts

  body(ng-app='app')
    .index(ng-controller="IndexCtrl")
      nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            a.navbar-brand(href='/') MyBucketlists
          ul.nav.navbar-nav.pull-right
            li.active
              a(href='#') {{username}}
      block main-content
